/* --Index RESPONSIVE-- */

main section.main div.size div.max div.wrapper div.txtWrapper div h3 {
  font-size: 40px;
  letter-spacing: 4px;
  align-self: flex-start;
  text-transform: uppercase;
}

main section.partnerships h2 {
  color: white;
  font-size: 40px;
  margin-top: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@media screen and (max-width: 966px) {
  main section.main div.size div.max div.wrapper {
    display: block;
  }

  main section.main div.size div.max div.wrapper div.imgWrapper {
    width: 100%;
    margin: 20px 0 30px 0;
  }

  main section.main div.size div.max div.wrapper div.imgWrapper img {
    width: 300px;
  }

  main section.main div.size div.max div.wrapper div.txtWrapper {
    width: 100%;
    padding: 0 5%;
  }

  main section.main div.size div.max div.wrapper div.txtWrapper .reverse {
    text-align: left;
  }

  main section.main div.size div.max div.wrapper div.txtWrapper p {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  main section.title .titleText {
    font-size: 28px;
  }

  main section.main div.size div.max div.wrapper div.imgWrapper img {
    width: 200px;
  }
}
