main {
  padding: 4% 4% 0 4%;
  justify-content: center;
  height: calc(100vh - 93px);
}

main h2,
h3 {
  padding: 10px 0;
}

main p {
  padding: 5px 0;
}

main ul li {
  text-indent: 20px;
  list-style-type: none;
  list-style-position: inside;
}
