* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: rgb(240, 242, 245);
}

.size {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-color: white;
}

.gray {
  background-color: rgb(240, 242, 245);
}

.max {
  width: 1100px;
}

.flex {
  display: flex;
  align-items: center;
}

/* Header */
.header {
  position: fixed;
  box-shadow: 0 5px 50px -30px #000000;
}

header {
  width: 100%;
  justify-content: space-between;
}

header div.logo .imgLogo img {
  width: 110px;
}

header div.logo .name a {
  color: black;
  margin: 0 10px;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

header nav #button {
  display: none;
}

header nav .desktopMenu {
  display: flex;
  list-style-type: none;
}

header nav .mobileMenu {
  display: none;
}

header nav ul li a {
  padding: 2px;
  color: black;
  margin: 0 30px;
  font-size: 17px;
  font-weight: bolder;
  letter-spacing: 2.7px;
  text-decoration: none;
  text-transform: uppercase;
}

.displayNone {
  display: none !important;
}

/* Footer */
footer {
  width: 100%;
  padding: 10px 0;
  background-color: white;
  justify-content: space-between;
}

footer div.cc a img {
  width: 68px;
}

footer div.cc a {
  font-size: 24px;
  margin-left: 12px;
}

footer div.email a .imgFooter img {
  width: 59px;
  margin-right: 12px;
}

footer div.email a .mailmail {
  color: black;
  font-size: 19px;
  margin-right: 12px;
  text-decoration: none;
}

/* --Index-- */
/* Main */
main {
  flex-direction: column;
  background-color: rgb(240, 242, 245);
}

/* Main-Title */
main section.title {
  width: 100%;
  margin-top: 110px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-image: url("notebook_using_up_gray.jpg");
}

main section.title .titleImg img {
  margin: 20px 0;
  width: 120px;
}

main section.title .titleText {
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 40px;
  letter-spacing: 12px;
  text-transform: uppercase;
}

/* Main-Main */
main section.main {
  width: 100%;
}

main section.main div.size div.max div.wrapper {
  width: 100%;
  padding: 25px 0;
}

main section.main div.gray div.max div.wrapper {
  width: 100%;
  flex-direction: row-reverse;
}

main section.main div.size div.max div.wrapper div.imgWrapper {
  width: 50%;
  justify-content: center;
}

main section.main div.size div.max div.wrapper div.imgWrapper img {
  width: 400px;
}

main section.main div.size div.max div.wrapper div.txtWrapper {
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

main section.main div.size div.max div.wrapper div.txtWrapper .reverse {
  text-align: right;
}

main section.main div.size div.max div.wrapper div.txtWrapper p {
  width: 400px;
  font-size: 20px;
  margin: 10px 0;
  text-align: justify;
  align-self: flex-start;
}

main section.main div.size div.max div.wrapper div.txtWrapper img {
  width: 100px;
}

/* --Mobile-- */
/* Main */
main section.ourApps div.smallerTitle {
  width: 100%;
  padding: 2% 0;
}

main section.ourApps div.smallerTitle h2 {
  font-size: 42px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

main section.ourApps .appContainer {
  width: 100%;
  margin: 20px 0 80px 0;
}

main section.ourApps div.appTexto {
  padding: 0 2%;
  flex-direction: column;
  justify-content: center;
}

main section.ourApps div.appTexto div.txtApp h3 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

main section.ourApps div.appTexto div.txtApp p, a {
  padding: 20px 0;
  font-size: 22px;
  word-spacing: 24px;
  text-align: justify;
  color: rgb(49, 49, 49);
}

main section.ourApps div.appTexto div.txtApp a:hover {
  color: rgb(4, 4, 4);
  text-decoration: underline;
}

main section.ourApps div.appTexto div.imgApp {
  height: 40px;
  margin-top: -10px;
}

main section.ourApps div.appTexto div.imgApp img {
  width: 222px;
}

@media screen and (max-width: 966px) {
  .openAnimation {
    animation: slideMenuOpen 0.5s;
  }

  header nav #button {
    top: -10px;
    right: 0;
    width: 220px;
    display: flex;
    font-size: 96px;
    position: absolute;
    padding-right: 20px;
    align-items: center;
    justify-content: flex-end;
  }

  header nav #button:hover {
    cursor: pointer;
  }

  header nav .desktopMenu {
    display: none;
  }

  header nav .mobileMenu {
    right: 0;
    top: 110px;
    width: 220px;
    height: 100vh;
    position: absolute;
    list-style-type: none;
    flex-direction: column;
    background-color: white;
  }

  header nav ul li {
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    justify-content: center;
  }

  header nav ul li a {
    padding: 40px;
    border-bottom: 1px solid black;
  }

  main section.title .titleText {
    font-size: 34px;
  }

  footer {
    flex-direction: column;
  }
}

@keyframes slideMenuOpen {
  from {
    width: 0;
  }

  to {
    width: 220px;
  }
}
